.SidebarLeft {
  display: flex;

  flex-direction: column;
  padding: 10px;
  cursor: pointer;
  width: 18em;
  position: absolute;
  top: 82px;
  position: fixed;
}
/* .SidebarLeft :hover{
  background-color: rgb(214, 209, 209);
  border-radius: 13px;

} */

h4 {
  position: relative;
  left: 16px;
  bottom: 8px;
  color: black;
}

.sidebar-icon {
  display: flex;
}

.sidebarRow {
  display: flex;
}

.right-sec {
       /* position: relative; */
       left: 11px;
       /* font-weight: 600; */
       text-align: center;
       bottom: 11px;
       /* margin-top: 13px; */
       font-size: 15px;
       margin-left: 12px;
       font-family: Helvetica,Arial,sans-serif;
       color: black;
}

.sidebarRow > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #2e81f4;
  padding-top: 9px;
  height: 29px;
}
